services:
  webapp:
    build: 
      context: .docker/app
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
      - ./.docker/app/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - ${APP_PORT:-8080}:80
    networks:
      - monitor-precos-network
  
  mailpit:
    image: axllent/mailpit:latest
    ports:
      - ${FORWARD_MAILPIT_PORT:-1025}:1025
      - ${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025
    networks:
      - monitor-precos-network
  
  mariadb:
    image: mariadb:12
    ports:
      - ${DB_PORT:-3306}:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - monitor-precos-network
  
  redis:
    image: redis:alpine
    ports:
      - ${REDIS_PORT:-6379}:6379
    networks:
      - monitor-precos-network
  
  embeddings:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.8
    ports:
      - ${EMBEDDINGS_PORT:-8989}:80
    environment:
      MODEL_ID: sentence-transformers/all-MiniLM-L6-v2
    networks:
      - monitor-precos-network
  
  mongodb:
    image: mongo:latest
    ports:
      - ${MONGO_DB_PORT:-27017}:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_DATABASE}
    volumes:
      - mongodb_data:/data/db
    networks:
      - monitor-precos-network
    healthcheck: 
      test: echo 'db. runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  mongo-express:
    image:  mongo-express:latest
    ports: 
      - ${MONGO_EXPRESS_PORT:-8081}:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_DB_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_DB_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_AUTH_DATABASE: admin
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_BASICAUTH_USERNAME:  ${MONGO_EXPRESS_USER:-admin}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_PASS:-admin}
    depends_on: 
      mongodb:
        condition: service_healthy
    networks:
      - monitor-precos-network

volumes:
  mariadb_data:
    driver: local
  qdrant_data:
    driver: local
  mongodb_data:
    driver: local

networks:
  monitor-precos-network:
    driver: bridge